$the-red:        #ba3e48;
$the-darker-red: #800813;

$white:          #fff;
$lighter-grey:   #ddd;
$light-grey:     #ccc;
$grey:           #aaa;
$greyer:         #777;
$dark-grey:      #444;
$darker-grey:    #222;

$green:          #009a31;
$dark-green:     #008129;