@import url(https://fonts.googleapis.com/css?family=Sanchez);
@import url(https://fonts.googleapis.com/css?family=PT+Sans);

/* DEFAULT FONT SETTINGS */
/* 16px base font size with 150% (24px) friendly, unitless line height and margin for vertical rhythm */
/* Font-size percentage is based on 16px browser default size */
body, 
button, 
input, 
select, 
textarea {
    font: 100%/1.5 Arial, sans-serif; 
    *font-size: 1em; 
    color: #333
} /* IE7 and older can't resize px based text */

p, 
blockquote, 
q, 
pre, 
address, 
hr, 
code, 
samp, 
dl, 
ol, 
ul, 
form, 
table, 
fieldset, 
menu {
    margin: 0 0 1.5em; 
    padding: 0
}

/* TYPOGRAPHY */

body {
    font-family: 'PT Sans', sans-serif;
    font-size: 100%;
    line-height: 3em;
    color: $darker-grey;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

h1, h2, h3, h4, h5, h6 {
    color: $darker-grey;
    font-family: 'Sanchez', serif;
    font-style: normal;
    font-weight: 400;
}

h1 {margin: 0; font-size: 3em; line-height: 1.2em; margin-bottom: 0.4em}
h2 {margin: 0; font-size: 2em; line-height: 1.2em; margin-bottom: 0.5em}
h3 {margin: 0; font-size: 1.75em; line-height: 1.3em; margin-bottom: 0.6667em}
h4 {margin: 0; font-size: 1.5em; line-height: 1em; margin-bottom: 1em}
h5 {margin: 0; font-size: 1.25em; line-height: 1.15em; margin-bottom: 1.15em}
h6 {margin: 0; font-size: 1em; line-height: 1.3em; margin-bottom: 1.3em}
p, ul, blockquote, pre, td, th, label {margin: 0; font-size: 1.7em; margin-bottom: 1.5em}
small, p.small {margin: 0; font-size: 0.875em; line-height: 1.715em; margin-bottom: 1.715em}

@import "ico-font";